<div class="news_post_large_container">

    <div class="container" style="background-repeat: repeat-x;">
        <!-- <img src="assets/images/course_1.jpg" alt=""></div> -->
        <!-- <div class="news_post_large_title "><a href="blog_single.html "> What You Need to Know About Online Testing for the </a></div> -->


        <!-- <div class="news_post_link "><a href="blog_single.html ">read more</a></div> -->





        <div style="margin-top: 20%;">
            <h1>{{R.nationality}}</h1>
            <!-- <img src="assets/images/course_1.jpg" alt="" width="500px" style="padding-left :30%"> -->


            <img src="assets/images/course_1.jpg" alt="" width="550px" style="padding-left :30%">


            <img src="assets/images/course_1.jpg" alt="" width="550px" style="padding-left :30%">

            <!-- <img src="assets/images/course_1.jpg" alt="" width="550px" style="padding-left :30%"> -->
            <!-- <h1>{{R.nationality}}</h1>

            <h1>{{R.prix}}</h1>
            <h1>{{R.description}}</h1> -->
        </div>







        <!-- <img src="assets/images/course_1.jpg" alt="" width="550px" style="padding-left :10%"> -->

        <h1 style="color: blue;">{{R.name}}</h1>
        <h1>{{R.nationality}}</h1>

        <!-- <h1>{{R.nationality}}</h1> -->

        <h1>{{R.place}}</h1>
        <!-- <h1>{{R.description}}</h1> -->



    </div>
</div>