<!-- <app-banner baner="testTeacher" ></app-banner> -->
<!-- <app-teacher-table style="padding-top: 50px"></app-teacher-table> -->
<table class="table" style="margin-left: 400px">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Matiere</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <app-teacher-table style="padding-top: 100px"></app-teacher-table>


    </tbody>
</table>